.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-card .p-card-body {
  padding: 1.25rem;
  height: 100vh;
  background-color: #eef2ff;
}

.p-card .p-card-content {
  padding: 0 0;
}

.p-card .p-card-title {
  margin-bottom: 0rem;
  padding: 1rem;
  font-size: xxx-large;
}

.p-datatable .p-datatable-header {
  margin-bottom: 10px;
  border-radius: 10px;
}

.p-datatable > .p-datatable-wrapper {
  border-radius: 10px;
  margin-bottom: 10px;
}

.p-datatable .p-paginator-bottom {
  border-radius: 10px;
}